@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
:root {
  --color-b: #e5ebf8;
  --color-active: #6a6abf;
  --border-radius: 0;
  --menu-width: 50px;
  --menu-width-active: 160px;
}

a {
  text-decoration: none;
  color: #71829e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: var(--color-active);
}

html, body, #app {
  height: 100%;
}

body {
  background-color: #becff7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-style: preserve-3d;
  font-family: "Roboto", sans-serif;
}

.a-layout {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 550px;
  margin: 40px auto;
  background: #fff;
  color: #71829e;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}
.a-layout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  z-index: 3;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: linear-gradient(90deg, rgba(229, 235, 248, 0), #e5ebf8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.a-title {
  font-size: 26px;
  margin: 20px 0;
}

.a-menu {
  display: flex;
  margin-left: 34px;
  background-color: #e5ebf8;
}

.a-search {
  margin: 6px;
  position: relative;
  max-width: 300px;
}

.a-search_input {
  outline: none;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 100%;
  min-width: 256px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  line-height: 48px;
  border-radius: 30px;
  padding: 0 45px 0 20px;
  font-size: 18px;
  border: 0;
}

.a-search_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 2;
  color: #71829e;
  font-size: 24px;
  padding: 3px 0 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.a-menu_link {
  line-height: 48px;
  font-size: 16px;
  padding: 0 10px;
}

.a-login {
  line-height: 48px;
  font-size: 16px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
.a-login:hover .a-login-img {
  border: 2px solid var(--color-active);
}

.a-login-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: 10px;
  left: -5px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.a-menu-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  border-radius: var(--border-radius);
}
.a-menu-left:hover + .a-container {
  -webkit-transform: translateX(110px);
  -moz-transform: translateX(110px);
  -ms-transform: translateX(110px);
  -o-transform: translateX(110px);
  transform: translateX(110px);
}
.a-menu-left:hover .a-menu-left_link span {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.a-menu-left:hover .a-logo {
  width: 150px;
}
.a-menu-left:hover .a-logo span {
  opacity: 1;
  width: 42px;
}
.a-menu-left:hover .a-logo span:nth-child(2) {
  width: 50px;
}

.a-menu-left_box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--menu-width-active);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.a-menu-left_logo {
  position: relative;
  height: 70px;
}

.a-logo {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 5;
  background-color: #123079;
  color: #fff;
  box-shadow: 0 4px 11px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.a-logo span {
  display: block;
  width: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.a-menu-left_logo-img {
  margin: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: #000;
}

.a-menu-left_link {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--menu-width);
  font-size: 24px;
}
.a-menu-left_link i {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--menu-width);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.a-menu-left_link span {
  width: 100%;
  font-size: 18px;
  padding: 0 20px 0 0;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.a-menu-left_link--active {
  background-color: var(--color-b);
}

.a-container {
  position: relative;
  margin: 0 0 0 var(--menu-width);
  display: flex;
  height: 100%;
  background-color: var(--color-b);
  border-radius: var(--border-radius);
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.a-content {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  position: relative;
  width: 100%;
}

.a-content_scroll {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: 10px 40px 40px;
}

.a-content-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: 100px 100px;
}
.a-content-box--top .a-box:nth-child(1) {
  grid-area: 1/1/2/3;
}
.a-content-box--top .a-box:nth-child(2) {
  grid-area: 2/1/3/2;
}
.a-content-box--top .a-box:nth-child(3) {
  grid-area: 2/2/3/3;
}
.a-content-box--top .a-box:nth-child(4) {
  grid-area: 1/3/3/5;
}
.a-content-box--top .a-box:nth-child(5) {
  grid-area: 1/5/2/6;
}
.a-content-box--top .a-box:nth-child(6) {
  grid-area: 2/5/3/6;
}
.a-content-box--basic .a-box:nth-child(1) {
  grid-area: 1/1/3/3;
}
.a-content-box--basic .a-box:nth-child(2) {
  grid-area: 1/3/2/5;
}
.a-content-box--basic .a-box:nth-child(3) {
  grid-area: 2/3/3/5;
}
.a-content-box--basic .a-box:nth-child(4) {
  grid-area: 1/5/2/6;
}
.a-content-box--basic .a-box:nth-child(5) {
  grid-area: 2/5/3/6;
}

.a-box {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.a-box--b {
  background-color: transparent;
  box-shadow: none;
}
.a-box--c {
  background-color: #bbc;
  background-color: var(--color-active);
}

.a-tabs {
  padding: 30px 0 20px;
}

.a-tab {
  position: relative;
  font-size: 16px;
  margin-right: 15px;
}
.a-tab:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 3px;
  width: 3px;
  border-radius: 3px;
  opacity: 0;
  background-color: var(--color-active);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.a-tab--active {
  color: var(--color-active);
}
.a-tab:hover:before {
  opacity: 1;
  left: 0;
  width: 100%;
}

.a-new {
  margin-bottom: 14px;
  font-size: 12px;
}

.a-new_title {
  font-size: 14px;
}

.a-new_info {
  margin-top: 4px;
}

.link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.rabbit {
  width: 50px;
  height: 50px;
  fill: #fff;
}

@media (max-width: 1000px) {
  .a-layout {
    margin: 0;
    height: auto;
    max-width: 100%;
  }

  .a-layout::before {
    width: 10px;
  }
}
@media (max-width: 700px) {
  .a-content-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .a-content-box--basic {
    display: block;
  }
  .a-content-box--basic .a-box {
    margin-bottom: 10px;
  }
  .a-content-box .a-box {
    height: 100px;
  }
  .a-content-box .a-box--b {
    height: auto;
  }
  .a-content-box .a-box:nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .a-content-box .a-box:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .a-content-box .a-box:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .a-content-box .a-box:nth-child(4) {
    grid-area: 3/1/4/3;
  }
  .a-content-box .a-box:nth-child(5) {
    grid-area: 4/1/5/2;
  }
  .a-content-box .a-box:nth-child(6) {
    grid-area: 4/2/5/3;
  }
}
@media (max-width: 640px) {
  .a-logo {
    width: 40px;
  }

  .a-content_scroll {
    padding: 0 15px 20px;
  }

  .a-menu {
    margin-left: 8px;
  }

  .a-login {
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .a-search {
    margin: 0;
  }

  .a-search_input {
    display: none;
  }

  .a-search_btn {
    position: relative;
  }
}
@media (max-width: 400px) {
  .a-login {
    font-size: 0;
  }

  .a-login-img {
    left: 3px;
  }
}