/* padding and margin 边距为0 */
body {
    padding: 0;
    margin: 0;
    background-color: #e4e8ec;
}

/* 选择器：
    全体元素，所有伪元素
box-sizing:
    1. content-box
        默认值。大小 = width = content + border + margin
    2. border-box
        大小 = content = width - border - margin */
*,
::before,
::after {
    box-sizing: border-box;
}

/* position：absolute
    绝对定位。相对于static定位以外的第一个父元素进行定位。元素位置通过“left”，“top”，“right”以及“bottom”属性进行规定。
transform : translate
    translateX：向X轴平移，填正数往右平移，填负数，往左平移。
    translateY：向Y轴平移，填正数往下平移，填负数，往上平移。
    translateZ：想像一个场景，你现在和电脑屏幕的距离，这就是Z轴的距离，电脑屏幕离你越近，那么translateZ()里面的值越大，电脑屏幕离你越远，translateZ()的值就越小。
    translate：是同时设置translateX和translateY，所以里面可以填两个参数，第一个值X，第二个Y。
    translate3d：是同时设置translateX，translateY和translateZ所以里面可以填三个参数。
元素基于父元素居中（长宽度未知）：
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
.container {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* transform: scale()
    修改元素大小。scale(sx)或scale(sx, sy)。
border-style: none
    边框样式。去除边框黑线。
outline: none
    轮廓样式。去除点击按钮时显示的黑线。
cursor
    显示光标的类型。pointer为指示链接的一只手。 
border-radius
    边框圆角。
    参看test。
box-shadow
    x偏移量 | y偏移量 | 阴影颜色
    box-shadow: 60px -16px teal;

    x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色
    box-shadow: 10px 5px 5px black;

    x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    插页(阴影向内) | x偏移量 | y偏移量 | 阴影颜色
    box-shadow: inset 5em 1em gold;

    任意数量的阴影，以逗号分隔
    box-shadow: 3px 3px red, -1em 0 0.4em olive;

    全局关键字
    box-shadow: inherit;
    box-shadow: initial;
    box-shadow: unset;
    */
button {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 35%;
    background: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234, 234, 234) 100%);
    box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
    transition: all 0.3s;
}

/* test */
/* .test{
    width: 400px;
    height: 400px;
}

/* border-radius
    默认颜色从上到下过度 */
/* .linear1{
    width: 100px;
    height: 100px;
    background: linear-gradient(#68e6fc, #ff5b6e);
} */
/* 逆时针旋转45° */
/* .linear2{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg,#68e6fc, #ff5b6e);
} */
/* 调节亮度 */
/* .linear3{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg,#68e6fc 20%, #ff5b6e 100%);
} */
/* x偏移量 | y偏移量 | 阴影颜色
    box-shadow: 60px -16px teal; */
/* .linear4{
    width: 100px;
    height: 100px;
    background-color: #ff5b6e;
    box-shadow: 5px -5px gray;
} */
/* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色
    box-shadow: 10px 5px 5px black; */
/* .linear5{
    width: 100px;
    height: 100px;
    background-color: #ff5b6e;
    box-shadow: 5px 5px 5px gray;
} */
/* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
/* .linear6{
    width: 100px;
    height: 100px;
    background-color: #ff5b6e;
    box-shadow: 5px 5px 5px 5px gray;
} */
/* 插页(阴影向内) | x偏移量 | y偏移量 | 阴影颜色
    box-shadow: inset 5em 1em gold; */
/* .linear7{
    width: 100px;
    height: 100px;
    background-color: #ff5b6e;
    box-shadow: inset 5px 5px gray;
} */
/* 任意数量的阴影，以逗号分隔
    box-shadow: 3px 3px red, -1em 0 0.4em olive; */
/* .linear8{
    width: 100px;
    height: 100px;
    background-color: #ff5b6e;
    box-shadow: 3px 3px gray, -1em 0 0.4em #68e6fc;
}  */

button:active {
    background: linear-gradient(45deg, rgb(218, 221, 224) 0%, rgb(241, 241, 241) 100%);
    box-shadow: -2px -7px 10px #d4d7da,
        4px 6px 10px #f1f1f1,
        inset -2px -7px 10px #f1f1f1,
        inset 4px 6px 10px #d4d7da;
    transition: all 0.3s;
    transform: translate(-50%, -50%) scale(.95);
}

button i svg {
    font-size: 40px;
    fill: gray;
    background: linear-gradient(-45deg, gray 0%, lightgray 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;
}

button:active i {
    transform: scale(.5);
    transition: all .3s;
}